<div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
<div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/tawanda-chandiwana-abb22298/">LinkedIn</a>
    <a class="footer-link" href="https://github.com/tawandastley">Github</a>
    <a class="footer-link" href="https://twitter.com/NdiTawanda">Twitter</a>
    <a class="footer-link" href="https://www.facebook.com/tawanda.chandiwana">Facebook</a>
    <p class="copyright">© 2021 Tawanda Chandiwana.</p>
  </div>