<%- include("partials/header.ejs") %>

    <div>
        <h2>Professional Profile</h2>
        <p>
            As a passionate technologist with a decade-long journey in the dynamic realms of Design and Development, I have relentlessly pursued the latest technologies to shape impactful solutions. My journey began at the age of 14, fueled by a relentless curiosity to develop software that could transform people's daily lives.
        </p>

        <h3>Technical Expertise:</h3>
        <ul>
            <li><strong>Languages:</strong> Swift, Kotlin, JavaScript, HTML, CSS</li>
            <li><strong>Platforms:</strong> iOS, Frontend, Backend</li>
            <li><strong>Focus Areas:</strong> Mobile and Web Development, Design, Artificial Intelligence</li>
        </ul>

        <h3>Work Experience:</h3>
        <h4>iOS Developer | [Banking]</h4>
        <p>
            As an iOS Developer at one of Africa's largest banks, I've contributed to the intersection of finance and technology, leveraging my skills in Swift to deliver robust and user-centric applications. Collaborating with a diverse team, I've played a key role in crafting digital experiences that enhance the banking journey for users across the continent.
        </p>

        <h4>Founder & CEO | [Tech Startup - MIMSHAC IT Solutions]</h4>
        <p>
            In parallel, I founded a tech startup that stands at the forefront of innovation, specifically focusing on Artificial Intelligence. Leading a dedicated team, our startup is committed to pioneering AI solutions that address contemporary challenges. From conceptualization to execution, my role involves steering the vision, strategy, and technical development of cutting-edge projects.
        </p>

        <h3>Vision:</h3>
        <p>
            My overarching goal is to harness technology's transformative power to create solutions that not only meet the needs of today but anticipate the challenges of tomorrow. Whether it's contributing to the digital transformation of a prominent bank or steering the course of a startup in the AI landscape, I am driven by a deep-seated passion for technology's potential to shape a brighter future.
        </p>

        <p>
            Let's <a href="#contact">connect</a> and explore opportunities to collaborate on projects that push the boundaries of innovation and positively impact lives.
        </p>
    </div>

</body>
<%- include("partials/footer.ejs") %>