
<%- include("partials/header.ejs") %>

<body>
  <div class="top">
    <img class="top-cloud" src="images/cloud.png" alt="cloud img">
    <h1>I'm Tawanda</h1>
    <h2 class="programmer ">iOS and Full Stack Web Developer</h2>
    <img class="bottom-cloud" src="images/cloud.png" alt="cloud img">
    <img src="images/mountain.png" alt="mountain img">

  </div>
  <div class="middle-container">
    <div class="profile">
      <img class="profile-image" src="images/tawanda.png" alt="">
      <h2>Hello!</h2>
      <p class="intro"> i am the head iOS and Web Developer at MIMSHAC IT Solutions</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="skill-image" src="images/digital.png" alt="">
        <h3>Software Design and Development</h3>
        <p> i have always had interest in technology since i was 14. i have always wanted to develop software that can change people's day to day lives. i have gained a great wealth of knowledge in Design and Development over the past decade due to my quest for latest technologies. i am mainly focused on the following programming languages: Swift,Kotlin , Javascript, HTML & CSS </p>
      </div>
      <div class="skill-row">
        <img class="skill-image2" src="images/repair.png" alt="">
        <h3>Computer and Cellphone Repairs</h3>
        <p>one of my best IT skills is actually in repairing. i have developed a successfull computer and cellphone repair shop at Nelson Mandela University</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>you have a software or hardware problem?</h3>
      <p>my DMs are open, slide in and let's talk about it</p>
      <a class="btn" href="mailto:astleytac@gmail.com">EMAIL</a>
    </div>
  </div>
</body>

<%- include("partials/footer.ejs") %>